﻿<MudCard Class="no-shadow text-centered">
    <MudLink Href="@link">
        <div class="pic">
            <img src="" class="img-circle pic" style="@($"background: url('../img/bg-pattern.png'), linear-gradient(to left, {@colors.ElementAt(colorBg%10)}, #222222); width: 100px;height: 100px;")"/>
        </div>
    </MudLink>
    <MudCardContent>
        <MudText Typo="Typo.h6" Class="ellipsis">
            @title
        </MudText>
        <MudText Typo="Typo.body2" Class="ellipsis">
            @description
        </MudText>
        @ChildContent
    </MudCardContent>
    <MudCardActions Class="centered">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="@link" Target="@(externalLink ? "_blank" : null)">@msgButton</MudButton>
    </MudCardActions>
</MudCard>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string? title { get; set; }
    [Parameter] public string? description { get; set; }
    [Parameter] public string? link { get; set; }
    [Parameter] public string? msgButton { get; set; }
    [Parameter] public int colorBg { get; set; } = 0;
    [Parameter] public bool externalLink { get; set; } = false;

    private List<string> colors = new List<string>() { "#C50C3E", "#DB02A9", "#B302D1", "#DB1102", "#D12E02", "#C50C3E", "#DB02A9", "#B302D1", "#DB1102", "#D12E02", "#C50C3E", "#DB02A9", "#B302D1", "#DB1102", "#D12E02" };
}
