﻿@using Models
@using Domain.Universities.Entities
@using Domain.Core.ValueObjects
@using Domain.Core.Helpers
@using Domain.Core.Entities
@using Presentation.Universities.Validators
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">@TitleText</MudText>
        <EditForm Model="@model">
            <DataAnnotationsValidator />
            <MudForm @bind-IsValid="@success">
                <MudTextField T="string" Label="Nombre de la universidad" Required="true" RequiredError="El nombre de la universidad es requerido" @bind-Value="@model.Name" />
                <MudTextField T="string" Label="Enlace a sitio web de la universidad" Required="true" RequiredError="El enlace a la página principal de universidad es requerido" @bind-Value="@model.Url" />
            </MudForm>
        </EditForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@(e =>  Submit())">@SubmitBtnText</MudButton>
    </MudCardActions>
</MudCard>

@code {
    [Parameter]
    public University? item { get; set; } = null;

    [Parameter]
    public Country Country { get; set; } = null;

    [Parameter]
    public EventCallback<University> OnValidSubmit { get; set; }

    [Parameter]
    public string SubmitBtnText { get; set; } = "Crear";

    [Parameter]
    public string TitleText { get; set; } = "Crear universidad";

    private UniversityModel model { get; set; }

    private bool success;

    protected override async Task OnParametersSetAsync()
    {

        if(item == null)
        {
            model = new UniversityModel();
        }
        else
        {
            model = new UniversityModel(item.Id, item.Name.Value, item.Url);
        }

    }

    /// <summary>
    /// Calls a callback function and passes the university
    /// </summary>
    /// <returns></returns>
    private async Task Submit()
    {

        University uni = new University(model.Id, RequiredString.TryCreate(model.Name).Success(), model.Url, Country);
        success = true;
        await OnValidSubmit.InvokeAsync(uni);
    }
}
