<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true"
        AdditionalAssemblies="@(new [] { typeof(MainLayout).Assembly })">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />


@code{

    private static string blanco = "#FFFFFF";
    private static string primary = "#005DA4";
    private static string secondary = "#A31096";
    MudTheme Theme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = primary,
            Secondary = secondary,
            AppbarBackground = primary,
            AppbarText = blanco,
            DrawerBackground = secondary,
            DrawerText = blanco,
            DrawerIcon = blanco,
            TextDisabled = "#ffffff69",

        }
    };
}
