﻿@using Domain.Universities.Entities

@inject IResearchCenterService centerService

@if (isLoading)
{
    <Presentation.Core.Loader></Presentation.Core.Loader>
}
else
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <MudText Typo="Typo.h5">
                Lista de grupos de este centro
            </MudText>
        </MudItem>
        @foreach (ResearchGroup g in groups)
        {

            <MudItem xs="6">
                <GroupCard title="@g.Name.Value" link="@($"/researchGroup/{g.Id}")" msgButton="Ver detalles" colorBg="@g.Id">
                    <MudText>Monto de apoyo: $ @(GetMonto(g))</MudText>
                    <MudLink Href="@($"tel:{g.Phone}")" Underline="Underline.Always">@g.Phone</MudLink>
                </GroupCard>
            </MudItem>

        }
    </MudGrid>
}

@code {
    private IEnumerable<ResearchGroup>? groups;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        groups = await centerService.GetResearchGroupsByCenterAsync(1);//1 = CITIC
        isLoading = (groups == null);
    }

    private double GetMonto(ResearchGroup group)
    {
        return centerService.GetBudget(group);
    }
}
