﻿@page "/researchGroup/{id:int}"
@using Domain.Universities.Entities
@using Domain.Universities.DTOs
@inject IResearchCenterService centerService

@if (isLoading)
{
    <MudText Typo="Typo.h1">Cargando...</MudText>
}
else
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <MudText Typo="Typo.h4">@group.Name</MudText>
            <MudText Typo="Typo.body1">Parte del @group.ResearchCenter.Name.Value</MudText>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.h6">Nuestras Colaboraciones</MudText>
        </MudItem>
        @if (collaborators != null && collaborators.Collaborators.Count() > 0)
        {
            @foreach (ResearchGroup r in collaborators.Collaborators)
            {
            <MudItem xs="6">
                <GroupCard description="" title="@r.Name.Value" link="@(r.Url)" msgButton="Página web" colorBg="@r.Id" externalLink="true">
                    <MudLink Href="@(r.Deparment.University.Url)" Target="_blank" Underline="Underline.Always">@($"{r.Deparment.University.Name} ({r.Deparment.University.Country.Name})")</MudLink>
                    <MudText Typo="Typo.subtitle2">
                        @r.Deparment.Name
                    </MudText>
                </GroupCard>
            </MudItem>
            } 
        }
        else
        {
            <MudAlert Severity="Severity.Error">No hay colaboraciones para este grupo</MudAlert>
        }
    </MudGrid>
}

@code {
    [Parameter]
    public int id { get; set; }
    private bool isLoading = true;
    private ResearchGroup group { get; set; }
    private CollaboratorsDTO collaborators { get; set; }

    protected override async Task OnInitializedAsync()
    {
        group = await centerService.GetGroupByIdAsync(id);
        collaborators = await centerService.GetCollaborators(id);
        isLoading = (group == null);
    }
}
