@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.banner {
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #005DA4, #A31096);
    color: white;
    padding: 30px 0px;
    padding-top: 30px;
    padding-top: 50px;
    width: 100%;
    border-radius: 4px;
}


.mud-nav-item {
    height: 54px;
}

    .mud-nav-item .mud-nav-link .mud-nav-link-text {
        font-weight: 600 !important;
    }

    .mud-nav-item .mud-nav-link.active .mud-nav-link-text {
        color: white !important;
    }

.text-centered {
    text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    max-width: 100px;
    margin: 0px auto;
    padding-top: 5%;
}

.no-shadow {
    box-shadow: none;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}