﻿@page "/"
@page "/inicio"
@using Domain.Universities.Entities

@inject IResearchCenterService centerService


@if (isLoading)
{
    <Loader></Loader>
}
else
{
<MudCard>
    <MudCardContent>
        <MudGrid>
            <div class="banner">
                <MudItem xs="12" Style="text-align: center;">
                    <MudText Typo="Typo.h2" Align="Align.Center" Style="color: white; font-weight: bold;">@center.Name</MudText>
                    <MudLink Href="@center.Url" Style="color: white!important; font-weight: bold; text-decoration: underline;">@center.Url</MudLink>
                </MudItem>
            </div>
            <MudItem xs="12">
                <Presentation.ResearchGroups.Pages.ListResearchGroups />
            </MudItem>
            <MudItem xs="12" Class="text-centered">
                <MudLink Href="https://stanfordmlgroup.github.io/" Target="_blank" Typo="Typo.caption">Diseño inspirado en Stanford Machine Learning Group</MudLink>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

}


@code{

    private ResearchCenter center { get; set; }
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        center = await centerService.GetCenterByIdAsync(1); //CITIC
        isLoading = (center == null);
    }
}