﻿@page "/universities"
@using Domain.Universities.Entities
@inject IUniversityService uniService
@inject ISnackbar Snackbar

<MudTable Items="@Elements" T="University" Bordered="true" Filter="new Func<University,bool>(FilterListFunc)" @bind-SelectedItem="selectedItem" Loading="@isLoading">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lista de Universidades registradas</MudText>
        <MudTooltip Text="Agregar nueva universidad" Placement="Placement.Top">
            <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" Size="Size.Small" Class="ml-2" Link="/universities/create"/>
        </MudTooltip>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Buscar universidad" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nombre</MudTh>
        <MudTh>URL</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Name</MudTd>
        <MudTd DataLabel="URL"><MudLink Href="@context.Url" Target="_blank" Underline="Underline.Always">@context.Url</MudLink></MudTd>
        <MudTd DataLabel="Acciones">
            <MudButtonGroup Size="Size.Small">
                <MudTooltip Text="Editar universidad" Placement="Placement.Top">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Link="@($"/universities/update/{context.Id}")"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Eliminar universidad" Placement="Placement.Top">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" OnClick="@(() => OpenOverlayDelete(@context))"></MudIconButton>
                </MudTooltip>
            </MudButtonGroup>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<MudOverlay @bind-Visible="isVisible" DarkBackground="true" AutoClose="true" ZIndex="9999">
    <MudCard Style="max-width: 80%; margin: auto; text-align: center;" Class="pa-3">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12">
                <MudText Typo="Typo.h4">¿Desea eliminar la universidad: @selectedItem.Name?</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudAlert Severity="Severity.Error">Si elimina la universidad todos los grupos asociados se eliminarán</MudAlert>
            </MudItem>
            <MudItem xs="3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => DeleteUniversity())">Eliminar universidad</MudButton>
            </MudItem>
            <MudItem xs="3">
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => isVisible = false)">Cerrar</MudButton>
            </MudItem>
        </MudGrid>
    </MudCard>
</MudOverlay>

@code {
    private University selectedItem = null;
    private IEnumerable<University> Elements = new List<University>();
    private bool isLoading = true;
    private string searchString = "";
    private bool isVisible;

    protected override async Task OnInitializedAsync()
    {
        await GetUniversities();
        if (Elements != null)
        {
            isLoading = false;
        }
    }

    private bool FilterListFunc(University uni) => FilterList(uni, searchString);

    private bool FilterList(University element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Url != null && element.Url.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Name.Value.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private async Task GetUniversities()
    {
        Elements = await uniService.GetUniversitiesAsync();
    }

    public void OpenOverlayDelete(University item)
    {
        isVisible = true;
        selectedItem = item;
        StateHasChanged();
    }

    private async Task DeleteUniversity()
    {
        if (selectedItem != null)
        {
            await uniService.RemoveUniversity(selectedItem);
            isVisible = false;
            Snackbar.Add("Universidad eliminada correctamente", Severity.Success);
        }
        else {
            Snackbar.Add("No se pudo eliminar la universidad", Severity.Error);
        }
        selectedItem = null;
        await GetUniversities();
        StateHasChanged();
    }
}
