﻿@page "/universities/create"
@using Presentation.Universities.Components
@using Domain.Universities.Entities
@using Domain.Core.Entities 
@inject IUniversityService uniService
@inject ISnackbar Snackbar


<MudGrid Justify="Justify.Center">    
    <MudItem xs="6">
        <UniversityForm SubmitBtnText="Crear universidad" OnValidSubmit="CreateUniversity" Country="@CR"/>
    </MudItem>
</MudGrid>


@code {

    private Country CR { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CR = await uniService.GetCountryById(4);
    }

    /// <summary>
    /// Add university to the database
    /// </summary>
    /// <param name="university">University to add</param>
    private async void CreateUniversity(University university)
    {
        await uniService.AddUniversity(university);
        Snackbar.Add("La universidad se creó con éxito.", Severity.Success);
        StateHasChanged();
    }
}
