﻿@page "/universities/update/{id:int}"


@using Presentation.Universities.Components
@using Domain.Universities.Entities
@using Domain.Core.Entities
@inject IUniversityService uniService
@inject ISnackbar Snackbar

@if (!isLoading)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="6">
            <UniversityForm item="@item" SubmitBtnText="Editar universidad" TitleText="Editar universidad" OnValidSubmit="UpdateUniversity" Country="@CR" />
        </MudItem>
    </MudGrid>
}
else
{
    <MudText Typo="Typo.h1">Cargando...</MudText>
}

@code {
    [Parameter]
    public int id { get; set; }

    private University? item { get; set; }
    private Country CR { get; set; }
    private bool isLoading { get; set; } = true;

    protected override async Task OnParametersSetAsync()
    {
        if (id != null)
        {
            item = await uniService.GetUniversitiesByIdAsync(id);
            if(item != null) {
                CR = item.Country;
                isLoading = false;
            }
        }
    }

    /// <summary>
    /// Updates a university
    /// </summary>
    /// <param name="university">University to update</param>
    private async void UpdateUniversity(University university)
    {
        await uniService.AddUniversity(university);
        Snackbar.Add("La universidad se actualizó con éxito.", Severity.Success);
        item = university;
        StateHasChanged();
    }
}
